@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }

    @if (User.Identity.IsAuthenticated)
    {
        @RenderAuthenticatedContent()
    }
    else
    {
        <p>You are not authorized to view this page. Please <a href="@Url.Action("Login", "Account")">login</a>.</p>
    }
</div>

@* Function to render content for authenticated users *@
@helper RenderAuthenticatedContent()
{
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                    Menu Item 1
                </a>
                <a href="#" class="list-group-item list-group-item-action">Menu Item 2</a>
                <a href="#" class="list-group-item list-group-item-action">Menu Item 3</a>
                <a href="#" class="list-group-item list-group-item-action">Menu Item 4</a>
                <a href="#" class="list-group-item list-group-item-action">Menu Item 5</a>
            </div>
        </div>
        <div class="col-md-8">
            <h2>Welcome to Task Manager</h2>
            <p>This is the main content area. You can put your dynamic content here.</p>
        </div>
    </div>
}
